body {
  // background-color: var(--primary-white-color);
  color: var(--primary-color);

  // font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}
