body {
  // background-color: var(--primary-white-color);
  color: var(--grey-default);

  // font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
}

a {
  text-decoration: none;
}
