html {
  scroll-behavior: smooth;
}

body {
  // background-color: var(--primary-white-color);
  color: var(--primary-color);

  // font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
p {
  margin: 0;
}

.list {
  list-style: none;
}

.list-m-p-0 {
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  scroll-behavior: smooth;
  color: var(--green-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.title-red {
  color: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.title-red:hover {
  background-color: rgb(199, 199, 199);
}
