:root {
  // --primary-text-color: rgba(0, 0, 0, 0.8);
  // --title-text-color: #000000;
  // --primary-white-color: #fff;
  // --secondary-bg-color: #f5f5f5;
  --grey-default: #313130;
  --accent-color: #df6c5d;

  --border-primary: #e9e6e4;
}
