<section class="section section-even" id="css">
  <h2 class="title">CSS</h2>

  <h3>CSS useful links:</h3>
  <ol>
    <li><a class="link" href="https://cssreference.io/">A free visual guide to CSS</a></li>
    <li><a class="link" href="http://www.css3files.com/">CSS3 Properties Exposed</a></li>
    <li>
      <a class="link" href="https://getbootstrap.com/docs/4.5/components/buttons/"
        >Use Bootstrap’s custom button styles</a
      >
    </li>
    <li>
      <a class="link" href="https://www.cssmatic.com/box-shadow"
        >Box Shadow CSS Generator | CSSmatic</a
      >
    </li>
    <li>
      <a
        class="link"
        href="https://code.tutsplus.com/ru/tutorials/the-30-css-selectors-you-must-memorize--net-16048"
        >30 CSS селекторов, которые вы должны запомнить</a
      >
    </li>
    <li><a class="link" href="https://htmlcolorcodes.com/color-picker/">HTML color picker</a></li>
    <li><a class="link" href="https://autoprefixer.github.io/">Autoprefixer CSS online</a></li>
    <li><a class="link" href="https://css-live.ru/">CSS LIVE</a></li>
    <li><a class="link" href="https://animate.style/">Animate CSS</a></li>
    <li>
      <a class="link" href="https://atomiks.github.io/tippyjs/"
        >Tooltip, popover, dropdown, and menu solution (<b>tippy.js</b>)</a
      >
    </li>
    <li>
      <a class="link" href="https://github.com/yoksel/common-words"
        >Слова, часто используемые в CSS-классах</a
      >
    </li>
    <li>
      <a class="link" href="https://freefrontend.com/css-animation-libraries/"
        >32 CSS Animation Libraries</a
      >
    </li>
    <li>
      <a class="link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing"
        >box-sizing</a
      >
    </li>
  </ol>

  <h3>Some refreshing</h3>
  <ul>
    <li>
      <a class="link" target="_blank" href="https://habr.com/ru/company/vdsina/blog/561486/"
        >Выкладка нетрадиционной ориентации ( гриды и flexbox давно захватили CSS)</a
      >
    </li>
  </ul>

  <a target="_blank" href="http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html">
    <h3 class="title-red" id="toolipjs1">
      How to put css code example <span style="color: black">width tag</span> <strong>pre</strong>
      <span style="color: black">&</span>
      <strong>code</strong>
      <span style="color: black">inside</span>
    </h3>
  </a>
</section>
