<footer class="footer">
  <div class="container">
    <p class="footer-copyright">
      <a target="_blank" href="https://github.com/torkotiuk/new-res">
        <svg width="20" height="25">
          <use href="./assets/images/tmp-sprite/sprite.svg#icon-github"></use>
        </svg>
      </a>
      <span style="margin-left: 10px">&copy; Asset 2022. We appreciate our customers!</span>
    </p>

    <ul class="projects-list list">
      <li><a class="link" href="">My projects</a></li>
      <li><a class="link" href="">Team projects</a></li>
      <li><a class="link" href="">Other educational projects</a></li>
    </ul>
  </div>
</footer>
