<header class="header">
  <nav>
    <a href="">Resourses</a>

    <a href="">School materials </a>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F2603776759%2Fmaterials"
          >Schoology HTML/CSS</a
        >
      </li>
      <li>
        <a target="_blank" href="http://fecore.net.ua/html-css/v1/docs/lesson-01/intro/"
          >Book HTML/CSS
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F3262249999%2Fmaterials"
          >Schoology JS</a
        >
      </li>
      <li><a target="_blank" href="http://fecore.net.ua/books/m5ph3r-javascript/">Book JS</a></li>

      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F4832044903%2Fmaterials"
          >Schoology REACT</a
        >
      </li>
      <li><a target="_blank" href="http://fecore.net.ua/books/rq7s2k-react/">Book React</a></li>

      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F5082292669%2Fmaterials"
          >Schoology Node.js</a
        >
      </li>
      <li><a target="_blank" href="https://goit.global/nodejs/ru/docs/">Book Node.js</a></li>

      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F4595613322%2Fmaterials"
          >React 26</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://app.schoology.com/login?destination=course%2F5015846687%2Fmaterials%3Ff%3D462580551"
          >React 30</a
        >
      </li>
    </ul>

    <a href="">Login</a>
  </nav>
</header>
