<header class="header" id="header">
  <div class="container">
    <nav>
      <a class="logo" href="/">asset</a>

      <div>
        <a href="https://torkotiuk.github.io/resources/" class="header_main-nav-link">RESOURCES</a>

        <!-- <ul class="materials-list list">
          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="https://app.schoology.com/login?destination=course%2F2603776759%2Fmaterials"
              >Schoology HTML/CSS</a
            >
          </li>
          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="http://fecore.net.ua/html-css/v1/docs/lesson-materials-inlink-list"
            >
              Book HTML/CSS
            </a>
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="https://app.schoology.com/login?destination=course%2F3262249999%2Fmaterials"
              >Schoology JS</a
            >
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="http://fecore.net.ua/books/m5ph3r-javascript/"
            >
              Book JS
            </a>
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="https://app.schoology.com/login?destination=course%2F4832044903%2Fmaterials"
              >Schoology REACT
            </a>
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="http://fecore.net.ua/books/rq7s2k-react/"
            >
              Book React</a
            >
          </li>

          <li>
            Node
            <ul>
              <li>
                <a
                  class="materials-list__link"
                  target="_blank"
                  href="https://app.schoology.com/login?destination=course%2F5082292669%2Fmaterials"
                >
                  Schoology Node.js
                </a>
              </li>

              <li>
                <a
                  class="materials-list__link"
                  target="_blank"
                  href="https://goit.global/nodejs/ru/docs/"
                >
                  Book Node
                </a>
              </li>
              <li>
                <a
                  class="materials-list__link"
                  href="https://app.schoology.com/course/2695206582/materials"
                  >Schoology Node.js v. 2</a
                >
              </li>
              <li>
                <a
                  class="materials-list__link"
                  href="https://reloaderlev.gitbook.io/goit-node-js-new-program/vstup-do-node.js./plan"
                  >Book Node v.2</a
                >
              </li>
            </ul>
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="https://app.schoology.com/login?destination=course%2F4595613322%2Fmaterials"
              >React 26</a
            >
          </li>

          <li>
            <a
              class="materials-list__link"
              target="_blank"
              href="https://app.schoology.com/login?destination=course%2F5015846687%2Fmaterials%3Ff%3D462580551"
              >React 30
            </a>
          </li>
          <li>
            <a target="_blank" class="materials-list__link" href="https://material.goit.ua/"
              >Book - general html/css/react</a
            >
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
</header>
