<section class="section html" id="html">
  <h2 class="title title-html">HTML</h2>

  <h3>HTML useful links:</h3>
  <ol>
    <li>
      <a class="link" href="https://html.spec.whatwg.org/">HTML standard</a>
    </li>
    <li>
      <a class="link" href="https://html.spec.whatwg.org/multipage/dom.html#kinds-of-content"
        >HTML standart - Kinds of content</a
      >
    </li>
    <li><a class="link" href="https://htmlreference.io/">A free guide to HTML</a></li>
    <li>
      <a class="link" href="http://htmlbook.ru/css/text-decoration"
        ><b>htmlbook.ru</b> - CSS - text decoration</a
      >
    </li>
    <li>
      <a class="link" href="https://habr.com/ru/post/546994/"
        >гайд по HTML-элементам - 15 марта 2021</a
      >
    </li>
    <li>
      <a class="link" href="https://css-tricks.com/how-to-section-your-html/"
        >how-to-section-your-html - July 17, 2020</a
      >
    </li>
    <li>
      <a class="link" href="https://bitsofco.de/sectioning-content-in-html5/"
        >sectioning-content-in-html5</a
      >
    </li>
    <li>
      <a class="link" href="https://www.youtube.com/watch?v=bDYEnNzprzE"
        >Семантика для циников, Вадим Макеев</a
      >
    </li>
    <li>
      Font weight
      <ul>
        <li>100 - thin</li>
        <li>300 - light</li>
        <li>400 - regular(normal)</li>
        <li>500 - medium</li>
        <li>600 - semibold</li>
        <li>700 - bold</li>
        <li>800 - extrabold</li>
        <li>900 - black</li>
      </ul>
    </li>
    <li>
      Classes (BEM f.e.)
      <ul>
        <li>
          <a class="link" target="_blank" href="https://github.com/yoksel/common-words"
            >Ссылка на шпору по класам</a
          >
        </li>
      </ul>
    </li>
  </ol>

  <h3>Interesting design pages</h3>
  <ul>
    <li><a class="link" href="https://auvesy.com/en/">auvesy.com</a></li>
  </ul>

  <h3>Games:</h3>
  <ul>
    <li>
      <a class="link" href="https://flexboxzombies.com/p/flexbox-zombies">Flexboxzombies</a>
    </li>
    <li><a class="link" href="http://flexboxfroggy.com/#ru">Flexboxfroggy</a></li>
    <li><a class="link" href="https://www.pixact.ly/">pixact.ly</a></li>
  </ul>

  <h3>Example (design example) of markup pc, tab, mobile, f.e. via google account</h3>
  <ol>
    <li>
      <a class="link" target="_blank" href="./assets/images/html/htmlCss_accept_registering_mob.png"
        >Mobile</a
      >
    </li>
    <li>
      <a class="link" target="_blank" href="./assets/images/html/htmlCss_accept_registering_TAB.png"
        >Tablet</a
      >
    </li>
    <li>
      <a class="link" target="_blank" href="./assets/images/html/htmlCss_accept_registering_pc.png"
        >PC</a
      >
    </li>
  </ol>

  <!--  -->
  <!--  -->
  <!-- some youtube video showing  -->
  <h3>YouTube video start on necessary time</h3>

  <ul>
    <li>
      Add f.e. <b>&t=1210s</b> at the end of youtube link like https://www.youtube .com/ embed/
      JlLh5iUGrCM<b>&t=1210s</b> (without any spaces, made it for better responsive markup)
    </li>
  </ul>

  <h3>YouTube video showing</h3>
  <ol>
    <li>Press "share" under some youtube video</li>
    <li>Press "Embed"</li>
    <li>Copy embed code and put it to your html</li>
  </ol>

  <h3>Practice lessons (HTML additional webinars):</h3>
  <ol>
    <li>
      <a
        class="link"
        target="_blank"
        href="https://drive.google.com/file/d/1YG30Yxxp1Jbdo5p_TP657LXHVhJkV3bI/view?usp=sharing"
        >Lesson </a
      ><span>(Oct. 03, 2020)</span>
      <p>sprite, pseudo elements, background-image</p>
    </li>
    <li>
      <a
        class="link"
        target="_blank"
        href="https://drive.google.com/file/d/16DdRVDmnDuYkMlHpktxiIUaysFntqf1A/view?usp=sharing"
        >Lesson </a
      ><span>(Oct. 31, 2020)</span>
      <p>Kahoot about all html/css materials</p>
    </li>
    <li>
      <a
        class="link"
        target="_blank"
        href="https://drive.google.com/file/d/19dIf5o8O6XhqAgRQN7ohVl2qrbvcrcwH/view?usp=sharing"
        >Lesson </a
      ><span>(Nov. 14, 2020)</span>
      <p>
        <a class="link" target="_blank" href="https://jonsuh.com/hamburgers/"
          >jonsuh.com/hamburgers</a
        >
      </p>
    </li>
  </ol>
  <!--  -->
</section>
