<section class="section section-even react" id="react">
  <h2 class="title">React</h2>

  <h3>React explanation:</h3>
  <ol>
    <li>
      <a target="_blank" class="link" href="./assets//images/react/redux-react.jpg"
        >Redux-React flowchart</a
      >
    </li>
    <li>
      <a
        target="_blank"
        class="link"
        href="https://www.youtube.com/playlist?list=PL6DxKON1uLOHsBCJ_vVuvRsW84VnqmPp6"
        >React - Redux - explanation (9 videos from Ulbi TV)</a
      >
    </li>
  </ol>

  <h3>React guides:</h3>
  <ul>
    <li>
      <a target="_blank" class="link" href="https://create-react-app.dev/">create-react-app</a>
    </li>
    <li><a target="_blank" class="link" href="https://ru.reactjs.org/">reactjs.org</a></li>
  </ul>

  <h3>Ways to create react app & good extension for this:</h3>
  <ol>
    <li>
      <a target="_blank" class="link" href="https://github.com/torkotiuk/react-test"
        >My react-test GitHub</a
      >
    </li>
    <li>
      <a
        target="_blank"
        class="link"
        href="https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en"
        >Install <strong>React Developer</strong> Tools for Google Chrome</a
      >
    </li>
    <li>
      <strong>npm install --save-dev prop-types</strong
      ><a target="_blank" class="link" href="https://www.npmjs.com/package/prop-types"
        >Docs on npmjs.com</a
      >
    </li>
  </ol>

  <h3>Snippets & emmet commands:</h3>
  <ul>
    <li>
      Emmet commands:
      <ul>
        <li>
          <p><strong>rsc</strong> - stateless component skeleton</p>
        </li>
        <li>
          <p><strong>rcc</strong> - class component skeleton</p>
        </li>
      </ul>
    </li>
    <li>
      Snippets:
      <ol>
        <li>
          <ul>
            <li>
              <a
                target="_blank"
                class="link"
                href="https://marketplace.visualstudio.com/items?itemName=xabikos.ReactSnippets"
                >Reactjs code snippets (for VSCode)
              </a>
            </li>
            <li>Simple React Snippets --- install for VSCode</li>
          </ul>
        </li>
        <li>look for settings (in VSCode) - emmet.syntaxProfiles</li>
        <li>
          add next settings:
          <span class="snippets-list__settings">"emmet.includeLanguages":</span> { "javascript":
          "javascriptreact" }
        </li>
      </ol>
    </li>
  </ul>

  <h3>Lint settings:</h3>
  <ol>
    <li>
      <a target="_blank" class="link" href="https://github.com/goitacademy/react-lint-config"
        >goitacademy/react-lint-config</a
      >
    </li>
    <li>
      install 3 packages
      <strong>npm install --save-dev prettier husky lint-staged</strong>
    </li>
    <li>create 3 files inside your React project: .huscyrs, .lintstagedrc, .prettierrc</li>
    <li>check if installed plugin "Formatting Toggle" in VSCode</li>
    <li>
      Set VSCode according point 1.: Settings> codeActionsOnSave> Edit in settings.json>
      <span class="snippets-list__settings">"editor.codeActionsOnSave"</span> : (was 'null', change
      to {"source.fixAll.eslint": true})
    </li>
  </ol>
</section>
