<nav class="sidebar">
  <h2>Stack:</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>REACT</li>
    <li>NODE</li>
    <li><a href="#typescript" style="scroll-behavior: smooth">TypeScript</a></li>
    <li>Next.js</li>
    <li>Git</li>
  </ul>

  <h2>Interview preparing & use cases:</h2>
  <ul>
    <li>Interview</li>
    <li>Landing</li>
    <li>PIC</li>
    <li>Sliders</li>
    <li>Soft skills</li>
  </ul>

  <h2>Build tools, editors, hosting</h2>
  <ul>
    <li>Build tools</li>
    <li>Editors</li>
    <li>Hosting</li>
  </ul>
</nav>
