<nav class="sidebar">
  <h3>Stack:</h3>
  <ul class="list sidebar-list">
    <li><a href="#html" class="sidebar-link">HTML</a></li>
    <li><a href="#css" class="sidebar-link">CSS</a></li>
    <li><a href="#js" class="sidebar-link">JS</a></li>
    <li><a href="#react" class="sidebar-link">REACT</a></li>
    <li><a href="#next" class="sidebar-link">Next.js</a></li>
    <li><a href="#node" class="sidebar-link">NODE</a></li>
    <li><a href="#nest" class="sidebar-link">Nest.js</a></li>
    <li><a href="#typescript" class="sidebar-link">TypeScript</a></li>
    <li><a href="#git" class="sidebar-link">Git</a></li>
  </ul>

  <!-- <h3>Interview preparing & use cases:</h3>
  <ul class="list sidebar-list">
    <li>Interview</li>
    <li>Landing</li>
    <li>PIC</li>
    <li>Sliders</li>
    <li>Soft skills</li>
  </ul> -->

  <!-- <h3>Build tools, editors, hosting</h3>
  <ul class="list sidebar-list">
    <li>Build tools</li>
    <li>Editors</li>
    <li>Hosting</li>
  </ul> -->
</nav>
