.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid var(--border-primary);

  .container {
    @media (min-width: 400px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

// copyright
.footer-copyright {
  display: flex;
}

// projects-list
.projects-list {
  @media (min-width: 340px) {
    display: flex;
    justify-content: space-around;
  }

  :not(:last-child) {
    margin-right: 15px;
  }
}
